{% extends "maker_reports/base.html" %}
{% block content %}

{% csrf_token %}

<div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?page=1">&laquo; на первую</a>
            <a href="?page={{ objects_list.previous_page_number }}"> пред. </a>
        {% endif %}

        <span class="current">
            Страница {{ objects_list.number }} из {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?page={{ objects_list.next_page_number }}"> след. </a>
            <a href="?page={{ objects_list.paginator.num_pages }}"> к последней &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="tftable">
<h2>Сводный реестр отказов удаленных сотрудников</h2>
    <tr>
        <th>Серия</th>
        <th>Номер поезда/электровоза</th>
        <th>Депо приписки</th>
        <th>Номер вагона/секции</th>
        <th>возможная причина</th>
        <th>тип системы</th>
        <th>номер акта</th>
        <th>дата отказа</th>

    {% for p in objects_list %}

    <tr><style>
    g {
  text-align: center;
  text-transform: uppercase;
  color: #cc0066;
}
</style>


    <td>{% if p.серия == '1' %}2ЭС6{% else %}{% endif %}
        {% if p.серия == '2' %}2ЭС7{% else %}{% endif %}
        {% if p.серия == '3' %}2ЭС10{% else %}{% endif %}
        {% if p.серия == '4' %}2ЭС10Б{% else %}{% endif %}
        {% if p.серия == '5' %}ЭС1П{% else %}{% endif %}
        {% if p.серия == '6' %}ЭС2Г{% else %}{% endif %}
        {% if p.серия == '7' %}ЭС2ГП{% else %}{% endif %}</td>
    <td>{% if p.номер_поезда %}{{p.номер_поезда}}{% else %}{% endif %}</td>
    <td>{% if p.депо_приписки == '1' %}Свердловск-Сортировочный (СЛД-33){% else %}{% endif %}
        {% if p.депо_приписки == '2' %}Белово (СЛД-17){% else %}{% endif %}
        {% if p.депо_приписки == '3' %}Южный Урал (СЛД-22){% else %}{% endif %}
        {% if p.депо_приписки == '4' %}Кинель (СЛД-32){% else %}{% endif %}
        {% if p.депо_приписки == '5' %}Московка (СЛД-1){% else %}{% endif %}
        {% if p.депо_приписки == '6' %}Зауралье (СЛД-23){% else %}{% endif %}
        {% if p.депо_приписки == '7' %}Инская (СЛД-5){% else %}{% endif %}
        {% if p.депо_приписки == '8' %}Таганай (СЛД-21){% else %}{% endif %}
        {% if p.депо_приписки == '9' %}Тайга (СЛД-11){% else %}{% endif %}
    </td>
    <td>{% if p.номер_вагона_секции == '0' %}10{% else %}{% endif %}
        {% if p.номер_вагона_секции == '1' %}1{% else %}{% endif %}
        {% if p.номер_вагона_секции == '2' %}2{% else %}{% endif %}
        {% if p.номер_вагона_секции == '3' %}3{% else %}{% endif %}
        {% if p.номер_вагона_секции == '4' %}4{% else %}{% endif %}
        {% if p.номер_вагона_секции == '5' %}5{% else %}{% endif %}
        {% if p.номер_вагона_секции == '6' %}6{% else %}{% endif %}
        {% if p.номер_вагона_секции == '7' %}7{% else %}{% endif %}
        {% if p.номер_вагона_секции == '8' %}8{% else %}{% endif %}
        {% if p.номер_вагона_секции == '9' %}9{% else %}{% endif %}

    </td>
    <td>
        {% if p.возможная_причина == '1' %}снят с эксплуатации{% else %}{% endif %}
        {% if p.возможная_причина == '2' %}следуют в ремонт{% else %}{% endif %}
        {% if p.возможная_причина == '3' %}ремонт по гарантии{% else %}{% endif %}
        {% if p.возможная_причина == '4' %}ремонт не по гарантии{% else %}{% endif %}
        {% if p.возможная_причина == '5' %}расследуется{% else %}{% endif %}
    </td>

    <td>
        {% if p.тип_системы == '1' %}ПСН{% else %}{% endif %}
        {% if p.тип_системы == '2' %}МПСУиД{% else %}{% endif %}
        {% if p.тип_системы == '3' %}СВОП{% else %}{% endif %}
        {% if p.тип_системы == '4' %}КУ ПС{% else %}{% endif %}
        {% if p.тип_системы == '5' %}КУ КМ{% else %}{% endif %}
        {% if p.тип_системы == '6' %}Другое{% else %}{% endif %}

    </td>
    <td>{{p.номер_акта}}</td>
    <td>{{p.дата_отказа}}</td>

    </tr>
    {% endfor %}
</div>

{% endblock content  %}
