{% extends "maker_reports/base.html" %}
{% block content %}
<div class="tft">
 <h2>{{df}}</h2>
<form action ="/index/ "method="post">
    {% csrf_token %}
    <tr>
         <th>станция приписки</th>
         <th>СЕРИЯ</th>
         <th>номер электровоза/электропоезда</th>
         <th>номер вагона/секции</th>
         <th>тип системы</th>
         <th>возможная причина</th>
        <th>номер и дата акта</th>

    </tr>
        <tr><style>
    g {
    font-size:16px;
  text-align: center;
  text-transform: uppercase;
  color: #cc0066;
}

ff {
font-size:12px;
   font-family: Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color:#666633;
}


</style>

    </tr>

      <tr><style>
    g {
  text-align: center;
  text-transform: uppercase;
  color: #cc0066;
}
</style>

    <td>{{ form2.депо_приписки }}</td>
     <td>{{form2.серия}}</td>
    <td>{{form2.номер_электропоезда_локомотива}}</td>
    <td>{{form2.номер_вагона_секции}}</td>
    <td>{{form2.тип_системы}}</td>
          <td>{{form2.возможная_причина}}</td>
    <td>{{form2.номер_акта}}</td>

    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>

    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>

    </tr>

 <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

  <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

  <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

  <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

    <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>

    </tr>

   <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

    <td>{{номера_поездов_и_локомотивов.депо_приписки}}</td>
     <td>{{номера_поездов_и_локомотивов.серия}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_электропоезда_локомотива}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_вагона_секции}}</td>
    <td>{{номера_поездов_и_локомотивов.тип_системы}}</td>
          <td>{{номера_поездов_и_локомотивов.возможная_причина}}</td>
    <td>{{номера_поездов_и_локомотивов.номер_акта}}</td>


    </tr>

</div>

</table>
<p> <input type="submit" class="floating-button2" value="отправить" />
    <form action="/add" method="POST">{% csrf_token %}
    <input type="submit" class="floating-button2" value="очистить"></form>
    </p>
</body>

{% endblock content %}