{% extends "maker_reports/base.html" %}
{% block content %}

{% csrf_token %}

<div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?page=1">&laquo; на первую</a>
            <a href="?page={{ objects_list.previous_page_number }}"> пред. </a>
        {% endif %}

        <span class="current">
            Страница {{ objects_list.number }} из {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?page={{ objects_list.next_page_number }}"> след. </a>
            <a href="?page={{ objects_list.paginator.num_pages }}"> к последней &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="tftable">
<h2>{{заголовок}}</h2>
    <tr>
        <th>Серия</th>
        <th>Номер электровоза</th>
        <th>СЛД</th>
        <th>оборудование</th>
        <th>серийный номер</th>
        <th>дата снятия</th>
        <th>дата установки</th>
        <th>вид обслуживания</th>

    {% for p in objects_list %}

    <tr><style>
    g {
  text-align: center;
  text-transform: uppercase;
  color: #cc0066;
}
</style>


    <td>{% if p.тип_локомотива == '1' %}2ЭС6{% else %}{% endif %}
        {% if p.тип_локомотива == '2' %}2ЭС7{% else %}{% endif %}
        {% if p.тип_локомотива == '3' %}2ЭС10{% else %}{% endif %}
        {% if p.тип_локомотива == '4' %}2ЭС10Б{% else %}{% endif %}
        {% if p.тип_локомотива == '5' %}ЭС1П{% else %}{% endif %}
        {% if p.тип_локомотива == '6' %}ЭС2Г{% else %}{% endif %}
        {% if p.тип_локомотива == '7' %}ЭС2ГП{% else %}{% endif %}
        {% if p.тип_локомотива == '8' %}2ЭС6Б{% else %}{% endif %}
    </td>
    <td>
        {% if p.номер_локомотива %}{{p.номер_локомотива}}{% else %}{% endif %}
    </td>
    <td>{% if p.депо_приписки == '1' %}{{станция.1}}{% else %}{% endif %}
        {% if p.депо_приписки == '2' %}{{станция.2}}{% else %}{% endif %}
        {% if p.депо_приписки == '3' %}{{станция.3}}{% else %}{% endif %}
        {% if p.депо_приписки == '4' %}{{станция.4}}{% else %}{% endif %}
        {% if p.депо_приписки == '5' %}{{станция.5}}{% else %}{% endif %}
        {% if p.депо_приписки == '6' %}{{станция.6}}{% else %}{% endif %}
        {% if p.депо_приписки == '7' %}{{станция.7}}{% else %}{% endif %}
        {% if p.депо_приписки == '8' %}{{станция.8}}{% else %}{% endif %}
        {% if p.депо_приписки == '9' %}{{станция.9}}{% else %}{% endif %}
    </td>
    <td>{% if p.наименование_оборудования == '0' %}{{equip.0}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '1' %}{{equip.1}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '2' %}{{equip.2}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '3' %}{{equip.3}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '4' %}{{equip.4}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '5' %}{{equip.5}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '6' %}{{equip.6}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '7' %}{{equip.7}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '8' %}{{equip.8}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '9' %}{{equip.9}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '10' %}{{equip.10}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '11' %}{{equip.11}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '12' %}{{equip.12}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '13' %}{{equip.13}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '14' %}{{equip.14}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '15' %}{{equip.15}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '16' %}{{equip.16}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '17' %}{{equip.17}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '18' %}{{equip.18}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '19' %}{{equip.19}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '20' %}{{equip.20}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '21' %}{{equip.21}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '22' %}{{equip.22}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '23' %}{{equip.23}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '24' %}{{equip.24}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '25' %}{{equip.25}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '26' %}{{equip.26}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '27' %}{{equip.27}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '28' %}{{equip.28}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '29' %}{{equip.29}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '30' %}{{equip.30}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '31' %}{{equip.31}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '32' %}{{equip.32}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '33' %}{{equip.33}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '34' %}{{equip.34}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '35' %}{{equip.35}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '36' %}{{equip.36}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '37' %}{{equip.37}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '38' %}{{equip.38}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '39' %}{{equip.39}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '40' %}{{equip.40}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '41' %}{{equip.41}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '42' %}{{equip.42}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '43' %}{{equip.43}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '44' %}{{equip.44}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '45' %}{{equip.45}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '46' %}{{equip.46}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '47' %}{{equip.47}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '48' %}{{equip.48}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '49' %}{{equip.49}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '50' %}{{equip.50}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '51' %}{{equip.51}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '52' %}{{equip.52}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '53' %}{{equip.53}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '54' %}{{equip.54}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '55' %}{{equip.55}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '56' %}{{equip.56}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '57' %}{{equip.57}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '58' %}{{equip.58}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '59' %}{{equip.59}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '60' %}{{equip.60}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '61' %}{{equip.61}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '62' %}{{equip.62}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '63' %}{{equip.63}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '64' %}{{equip.64}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '65' %}{{equip.65}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '66' %}{{equip.66}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '67' %}{{equip.67}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '68' %}{{equip.68}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '69' %}{{equip.69}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '70' %}{{equip.70}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '71' %}{{equip.71}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '72' %}{{equip.72}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '73' %}{{equip.73}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '74' %}{{equip.74}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '75' %}{{equip.75}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '76' %}{{equip.76}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '77' %}{{equip.77}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '78' %}{{equip.78}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '79' %}{{equip.79}}{% else %}{% endif %}
         {% if p.наименование_оборудования == '80' %}{{equip.80}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '81' %}{{equip.81}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '82' %}{{equip.82}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '83' %}{{equip.83}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '84' %}{{equip.84}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '85' %}{{equip.85}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '86' %}{{equip.86}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '87' %}{{equip.87}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '88' %}{{equip.88}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '89' %}{{equip.89}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '90' %}{{equip.90}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '91' %}{{equip.91}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '92' %}{{equip.92}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '93' %}{{equip.93}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '94' %}{{equip.94}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '95' %}{{equip.95}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '96' %}{{equip.96}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '97' %}{{equip.97}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '98' %}{{equip.98}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '99' %}{{equip.99}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '100' %}{{equip.100}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '101' %}{{equip.101}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '102' %}{{equip.102}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '103' %}{{equip.103}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '104' %}{{equip.104}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '105' %}{{equip.105}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '106' %}{{equip.106}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '107' %}{{equip.107}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '108' %}{{equip.108}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '109' %}{{equip.109}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '110' %}{{equip.110}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '111' %}{{equip.111}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '112' %}{{equip.112}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '113' %}{{equip.113}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '114' %}{{equip.114}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '115' %}{{equip.115}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '116' %}{{equip.116}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '117' %}{{equip.117}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '118' %}{{equip.118}}{% else %}{% endif %}
        {% if p.наименование_оборудования == '119' %}{{equip.119}}{% else %}{% endif %}


    </td>
    <td>
        {{p.номер_оборудования}}
    </td>
    <td>
        {% if p.дата_снятия and p.причина_снятия == '1'%} {{p.дата_снятия}}  {{reason.1}}
        {% else %} {% endif %}
        {% if p.дата_снятия and p.причина_снятия == '2'%} {{p.дата_снятия}}  {{reason.2}}
        {% else %} {% endif %}
        {% if p.дата_снятия and p.причина_снятия == '3'%} {{p.дата_снятия}}  {{reason.3}}
        {% else %} {% endif %}
    </td>

    <td>
        {% if p.дата_установки %} {{p.дата_установки}}, установлено актом № {{p.номер_акта}} {% else %}
      {% endif %}

    </td>
    <td>{% if p.вид_обслуживания == '1' %}{{service.1}}
        {% else %} {% endif %}
        {% if p.вид_обслуживания == '2' %}{{service.2}}
        {% else %} {% endif %}
        {% if p.вид_обслуживания == '3' %}{{service.3}}
        {% else %} {% endif %}
        {% if p.вид_обслуживания == '4' %}{{service.4}}
        {% else %} {% endif %}
        {% if p.вид_обслуживания == '5' %}{{service.5}}
        {% else %} {% endif %}
    </td>

    </tr>
    {% endfor %}
</div>
<p>
<form action="upload_d/" method="post">{% csrf_token %}
    <input type="submit" class="floating-button2" value="выгрузить"></form>
</p>
{% endblock content  %}
