{% extends "maker_reports/base.html" %}
{% block content %}
<h2>{{df}}</h2>
<tr action ="/result/ "method="post">
    {% csrf_token %}
<tr class="tftable">

    <th>Серия</th>
    <th>гарантийный парк</th>
    <th>гарантийный парк с учётом поставки ООО "Тяговые компоненты"</th>
    <th>негарантийный парк</th>
    <th>доля от общего числа случаев</th>
    <th>пробег с начала эскплуатации</th>
    <th>пробег за период </th>
    <th>количество отказов (БЛОК) на 1 млн. км</th>
    <th>количество отказов (ПСН) на 1 млн. км</th>
    <th>количество отказов (МПСУиД) на 1 млн. км</th>
    <th>количество всех отказов на 1 млн. км</th>

</tr>

      <tr><style>
    g {
  text-align: center;
  text-transform: uppercase;
  color: #cc0066;
}
</style>

    <td>{{л2ЭС6}}</td>
     <td>{{л2ЭС6_гар}}</td>
    <td>{{ТК_2ЭС6}}</td>
    <td>{{л2ЭС6_негар}}</td>
    <td>{{л2ЭС6_общ}}({{л2ЭС6_проц|floatformat:3}}%)</td>
          <td>{{пробег_общ_л2ЭС6}}</td>
    <td>{{пробег_пер_л2ЭС6}}</td>
           <td>{{показатель_2ЭС6_БЛОК|floatformat:3}}</td>
           <td>{{показатель_2ЭС6_ПСН|floatformat:3}}</td>
           <td>{{показатель_2ЭС6_МПСУИД|floatformat:3}}</td>
          <td>{{показатель_2ЭС6|floatformat:3}}</td>
    </tr>

    <td>{{л2ЭС7}}</td>
     <td>{{л2ЭС7_гар}}</td>
    <td>{{ТК_2ЭС7}}</td>
    <td>{{л2ЭС7_негар}}</td>
    <td>{{л2ЭС7_общ}}({{л2ЭС7_проц|floatformat:3}}%)</td>
     <td>{{пробег_общ_л2ЭС7}}</td>
    <td>{{пробег_пер_л2ЭС7}}</td>
    <td>{{показатель_2ЭС7_БЛОК|floatformat:3}}</td>
    <td>{{показатель_2ЭС7_ПСН|floatformat:3}}</td>
    <td>{{показатель_2ЭС7_МПСУИД|floatformat:3}}</td>
    <td>{{показатель_2ЭС7|floatformat:3}}</td>
    </tr>

     <td>{{л2ЭС10}}</td>
     <td>{{л2ЭС10_гар}}</td>
    <td>{{ТК_2ЭС10}}</td>
    <td>{{л2ЭС10_негар}}</td>
    <td>{{л2ЭС10_общ}}({{л2ЭС10_проц|floatformat:3}}%)</td>
     <td>{{пробег_общ_л2ЭС10}}</td>
    <td>{{пробег_пер_л2ЭС10}}</td>
    <td>{{показатель_2ЭС10_БЛОК|floatformat:3}}</td>
    <td>{{показатель_2ЭС10_ПСН|floatformat:3}}</td>
    <td>{{показатель_2ЭС10_МПСУИД|floatformat:3}}</td>
    <td>{{показатель_2ЭС10|floatformat:3}}</td>
    </tr>

     <td>{{ЭС2Г}}</td>
     <td>{{ЭС2Г_гар}}</td>
    <td>{{ТК_ЭС2Г}}</td>
    <td>{{ЭС2Г_негар}}</td>
      <td>{{ЭС2Г_общ}}({{ЭС2Г_проц|floatformat:3}}%)</td>
     <td>{{пробег_общ_ЭС2Г}}</td>
    <td>{{пробег_пер_ЭС2Г}}</td>
    <td>{{показатель_ЭС2Г_БЛОК|floatformat:3}}</td>
    <td>{{показатель_ЭС2Г_ПСН|floatformat:3}}</td>
    <td>{{показатель_ЭС2Г_МПСУИД|floatformat:3}}</td>
    <td>{{показатель_ЭС2Г|floatformat:3}}</td>
    </tr>

    <td>{{ЭС1П}}</td>
     <td>{{ЭС1П_гар}}</td>
    <td>{{ТК_ЭС1П}}</td>
    <td>{{ЭС1П_негар}}</td>
    <td>{{ЭС1П_общ}}({{ЭС1П_проц|floatformat:3}}%)</td>
    <td>{{пробег_общ_ЭС1П}}</td>
    <td>{{пробег_пер_ЭС1П}}</td>
    <td>{{показатель_ЭС1П_БЛОК|floatformat:3}}</td>
    <td>{{показатель_ЭС1П_ПСН|floatformat:3}}</td>
    <td>{{показатель_ЭС1П_МПСУИД|floatformat:3}}</td>
    <td>{{показатель_ЭС1П|floatformat:3}}</td>
    </tr>

    <td>{{ЭС2ГП}}</td>
     <td>{{ЭС2ГП_гар}}</td>
    <td>{{ТК_ЭС2ГП}}</td>
    <td>{{ЭС2ГП_негар}}</td>
      <td>{{ЭС2ГП_общ}}({{ЭС2ГП_проц|floatformat:3}}%)</td>
     <td>{{пробег_общ_ЭС2ГП}}</td>
    <td>{{пробег_пер_ЭС2ГП}}</td>
    <td>{{показатель_ЭС2ГП_БЛОК|floatformat:3}}</td>
    <td>{{показатель_ЭС2ГП_ПСН|floatformat:3}}</td>
    <td>{{показатель_ЭС2ГП_МПСУИД|floatformat:3}}</td>
    <td>{{показатель_ЭС2ГП|floatformat:3}}</td>
    </tr>

    <td><g>{{ИТОГО}}</g></td>
    <td><g>{{гар}}</g></td>
    <td><g>{{ТК}}</g></td>
    <td><g>{{негар}}</g></td>
    <td><g>{{s}}({{общ_проц}}%) </g></td>
    <td><g>{{пробег_общ}}</g></td>
    <td><g> {{пробег_пер}}</g></td>
    <td><g>{{показатель_БЛОК|floatformat:3}}</g></td>
    <td><g>{{показатель_ПСН|floatformat:3}}</g></td>
    <td><g>{{показатель_МПСУИД|floatformat:3}}</g></td>
    <td><g>{{показатель_парка|floatformat:3}}</g></td>
    </tr>


</div>
    {% endblock content %}