{% extends "maker_reports/base.html" %}
{% block content %}
<h2>{{df}}</h2>
<form action ="/index/ "method="post">
    {% csrf_token %}

<tr><th>Исходные данные</th><th>Добавить значение</th></tr>
    <tr><td>{{номера_поездов_и_локомотивов.номера2ЭС6.label}}</td><td>{{номера_поездов_и_локомотивов.номера2ЭС6}}</td></tr>
    <tr><td>{{номера_поездов_и_локомотивов.r1.label}}</td><td>{{номера_поездов_и_локомотивов.r1}}</td></tr>
    <tr><td>{{r04}}</td><td>{{form2.speed}}</td></tr>
     <tr><td>{{r11}}</td><td>{{form2.speed_k}}</td></tr>
    <tr><td>{{r06}}</td><td>{{form2.weight}}</td></tr>
    <tr><td>{{r03}}</td><td>{{form2.m_axles}}</td></tr>
    <tr><td>{{r3}}</td><td>{{form2.bias}}</td></tr>
    <tr><td>{{r2}}</td><td>{{form2.weight_loko}}</td></tr>
    <tr><td>{{r4}}</td><td>{{form2.diesel_power}}</td></tr>
    <tr><td>{{r5}}</td><td>{{form2.kpd_generator}}</td></tr>
    <tr><td>{{r6}}</td><td>{{form2.kpd_rectifier}}</td></tr>
    <tr><td>{{r7}}</td><td>{{form2.kpd_frequency_converter}}</td></tr>
    <tr><td>{{r9}}</td><td>{{form2.kpd_ATD}}</td></tr>
    <tr><td>{{r0}}</td><td>{{form2.kpd_gear}}</td></tr>
    <tr><td>{{r04}}</td><td>{{form2.auxiliary_converter}}</td></tr>

</table>
<p> <input type="submit" class="floating-button2" value="отчёт" />
    <form action="/" method="post">
    <input type="submit" value="очистить форму"></form>
    </p>

</body>
    {% endblock content %}